<!DOCTYPE html>
<html ng-app="counterApp">
  <head>
    <title>AngularJS Counter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./app.js"></script>
  </head>
  <body>
    <div ng-controller="CounterController as counterApp">
      <h1>Counter: {{ counterApp.number }}</h1>
      <button ng-click="counterApp.increment()">Increment</button>
      <button ng-click="counterApp.decrement()">Decrement</button>
    </div>
  </body>
</html>
